<span class="subst">
    <!-- [Autos] Reso basato su data.content (tutti i figli), come nel fork precedente e
         come previsto dal codice beta 2 stesso (era commentato). Il modello beta 2 teneva
         solo UN <add> e UN <del> (getElementsByTagName), perdendo i <del>/<add> multipli
         di una stessa <subst> (es. correzioni in sequenza: "Frequentava allora" / "Frequentando" / "Mi").
         Prima le cancellature (solo se withDeletions), poi un marcatore, poi il resto. -->
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="((withDeletions) && (el?.class === 'del' || el?.class === 'surplus'))"
            [content]="el" [editionLevel]="editionLevel"
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
    <span *ngIf="substMarker && withDeletions" class="substMarker"> > </span>
    <ng-container *ngFor="let el of data.content">
        <evt-content-viewer *ngIf="el?.class !== 'del'" [content]="el" [editionLevel]="editionLevel"
            [itemsToHighlight]="itemsToHighlight" [evtHighlight]="highlightData" [textFlow]="textFlow"
            [withDeletions]="withDeletions" [selectedLayer]="selectedLayer">
        </evt-content-viewer>
    </ng-container>
</span>
