
<!--
    display order atm (maybe we can provide a configuration array later):
    1. lem/rdg ordered by @varSeq
    2. mod ordered by @change
    3. add/del/subst ordered by @seq
-->

    <!-- default: nessun listChange / orderedLayers -->
    <ng-container *ngIf="!orderedLayers || (orderedLayers && orderedLayers.length == 0)">
        <ng-container *ngFor="let mod of sequence">

            <ng-container *ngIf="((showVarSeqAttr) && (mod?.varSeq))">
                <span class="mod-varSeq">{{mod.varSeq}} </span>
            </ng-container>

            <ng-container *ngIf="mod.type == Mod">
                <ng-container *ngFor="let element of mod?.content">
                    <ng-container *ngIf="showSeqAttr && element.attributes?.seq">
                        <span class="mod-seq">{{element.attributes.seq}} </span>
                    </ng-container>
                    <evt-content-viewer
                        [content]="element"
                        [editionLevel]="'changesView'"
                        [evtHtmlAttributes]="element?.attributes"
                        [attr.data-edition]="'changesView'">
                    </evt-content-viewer>
                </ng-container>
                <br/>
            </ng-container>
        </ng-container>
    </ng-container>


    <!-- listChange presente: orderedLayers formato.
         [Autos] varSeq + contenuto vanno mostrati SOLO quando il mod appartiene al layer
         corrente, altrimenti il numero (e il testo) verrebbero ripetuti una volta per ogni
         layer -> bug "1 2 1 2 ..." (regressione di EVT beta 2: nel loro template il varSeq
         stava FUORI dal controllo del layer). Struttura ripresa dal fork precedente. -->
    <ng-container *ngIf="orderedLayers && orderedLayers.length > 0">
        <ng-container *ngFor="let orderedLayer of orderedLayers">
            <ng-container *ngFor="let mod of sequence">
                <ng-container *ngIf="mod.type == Mod && mod.changeLayer?.replace('#','') === orderedLayer">
                    <span class="mod-varSeq" *ngIf="showVarSeqAttr && mod?.varSeq">{{mod.varSeq}} </span>
                    <span class="mod-layer">{{orderedLayer}}: </span>
                    <ng-container *ngFor="let element of mod?.content">
                        <ng-container *ngIf="showSeqAttr && element.attributes?.seq">
                            <span class="mod-seq">{{element.attributes.seq}} </span>
                        </ng-container>
                        <evt-content-viewer
                            [content]="element"
                            [editionLevel]="'changesView'"
                            [evtHtmlAttributes]="element?.attributes"
                            [attr.data-edition]="'changesView'">
                        </evt-content-viewer>
                    </ng-container>
                    <br/>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
